#backend variables
NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost 
DATABASE_PORT=5432
DATABASE_NAME=support_ticket_db
DATABASE_USER=support_user
DATABASE_PASSWORD=support_password

#jwt variables
JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES_IN_SECONDS=3600